@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-color: white;
    margin: 0;
    padding: 5px;
    max-width: 100vw;
    font-family: 'poppins';
}

.container, .container-2{
    max-width: 100vw;
}
.logo{
    width: 160px;
    height: 50px;
}

.navbar{
    width: 100%;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
}

.options{
    max-width: 100vw;
    margin-top: 20px;
    float: right;
    word-spacing: 10px;
    padding-right: 30px;
    flex-wrap: nowrap;
}

.concert{   
   height: 60vw;
   max-width: 100vw;
   background-image: url(imgs/landing.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.concert > h1, .p_concert{
    color: white;
    text-align: center;
}

#tittle-concert{
    font-size: 70px;
}

.p_concert{
    font-size: x-large;
}

.container-2 > h1{
    text-align: center;
}

.container-2 > .underline{
    width: 100px;
    height: 30px;
    background-color: #1ab26b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.what{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.what > h1{
    border-bottom: #1ab26b solid 5px;
}

.container-2{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}
.orden{
    display: flex;
    justify-content: space-between;
}
.features{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.title{
    color: #1ab26b;
}
.million{
    width: 200px;
    height: 200px;
    grid-area: million;

}
.hd{
    width: 200px;
    height: 200px;
    grid-area: hd;

}
.stream{
    width: 200px;
    height: 200px;
    grid-area: stream;
}
.million img{
    height: 9vh;
}
.hd img{
    height: 9vh;
}
.stream img{
    height: 9vh;
}

.features > h1  p{
    color: black;
    text-align: center;
}

.green_part{
    margin-top: 100px;
    background-color: #1ab26b;
    max-width: 89vw;
    height: 630px;

    margin-left: 50px;

    display: flex;
    align-items: center;
    justify-items: center;
}

.spoty-logo{
    width: 100px;
    height: 100px;
    position: relative;
    align-content: center;
    padding-right: 105px;
}

.uses{
    padding-left: 40px;
    padding-top: 30px;
}
.uses > h1, h3{
    color: white;
    max-width: 490px;
}
.uses > h1{
    border-bottom: white solid 4px;
}
.uses > p{
    max-width: 240px;
    color: white;
}

.ss-app > img{
    padding-right: 30px;
    width: 340px;
    height: 550px;
}

